@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Dosis|Play|Teko&display=swap');


/* 

font-family: 'Teko', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Play', sans-serif;

*/

.site{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

body{
	margin: 0;
	font-size: 16px;
	font-family: 'Play', sans-serif;
	color: #FFFFFF;
	background:url("../img/stripes-light.png");
}

/* ################# TOPO ################# */
.faixaTopo{
	background: #401230;
}
.contatoSocial{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .3% 0;
}
.contatoSocial ul{
	display: flex;
}
.contatoSocial ul li{
	width: 30px;
	margin: 2px 10px;
	list-style-type:none;
}

.logoMenu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoMenu h1{
	background:url("../img/LogoKiBeleza.svg") no-repeat;
	width: 300px;
	height: 90px;
	text-indent: -9999px;
	margin: 0;
}
/* MENU */
.logoMenu nav ul{
	display: flex;
}
.logoMenu nav ul li{
	list-style-type: none;
	padding: 20px 30px;
	margin: 2px;
}

.logoMenu nav ul li a{
	font-weight: bold;
	color: #401230;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

/* ###### MENU FIXO */
.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;	
	background: rgba(64,18,48,0.9);
	
	animation: fadeIn 1s ease-in-out;
	
}
.menu-fixo
.logoMenu h1{
	background:url("../img/LogoKiBelezaBranco.svg") no-repeat;
}
.menu-fixo
.logoMenu nav ul li a{
	color: #FFFFFF;
}

/* BANNER */
.banner img{
	width: 100%;
}

/* ################# TENDENCIA ################# */

.tendencias{
	text-align: center;
	padding: 2% 0;
}

.tendencias h2{
	color: #401230;
	font-size: 2em;
	font-family: 'Teko', sans-serif;
	border-bottom: thin #401230 solid;
	width: 300px;
	margin: 0 auto;
}

.tendenciasBox{
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
}
.tendenciasBox article{
	width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.tendenciasBox article img{
	border: thin #401230 solid;
	border-radius: 5px 0 5px 0;
	width: 100%;
}
.tendenciasBox article h3{
	color: #401230;
	text-align: left;
	font-family: 'Teko', sans-serif;
	text-transform: uppercase; 
	font-weight: 600;
	padding: 3% 0 5% 0;
}

.tendenciasBox article p{
	text-align: justify;
	color: #333333;
	font-size: 0.8em;
	line-height: 1.5em;
	padding: 3% 0 5% 0;
}

.tendenciasBox article a{
	text-decoration: none;
    padding: 2% 5%;
    background: #401230;
    border: thin #d9b1a3 solid;
    color: #FFFFFF;
    width: 30%;
    align-self: flex-end;
}
.tendenciasBox article a:hover{
	background: #d9b1a3;
	border: thin #401230 solid;
	color: #401230;
}
/* ############### SOBRE ################### */


.sobre{
	display: flex;
	justify-content: space-around;
	padding: 2% 0;
}
.sobre article{
	width: 45%;
}

.sobre article h2{
	text-align: left;
	font-family: 'Teko', sans-serif;
	text-transform: uppercase; 
	font-weight: bold;
	font-size: 2em;
	padding-bottom: 5%;
}
.sobre article p{
	text-align: justify;
	color: #CCCCCC;
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 5%;
}
.btnSobre{
	text-decoration: none;
    padding: 2% 5%;
    background: #d9b1a3;
    border: thin #401230 solid;
    color: #FFFFFF;
	float: right;
}
.btnSobre:hover{
	background: #FFFFFF;
	border: thin #d9b1a3 solid;
	color: #401230;
}
.sobre article img{
		width: 100%;
	}

/* ############ INSTA ################## */
.insta{
	margin: 2% 0;
	overflow: hidden;
	display: flex;
}
.insta img{
	padding: 1.5%;
}

/* ############### BLOG ############## */

.blog{
	padding: 2% 0;
	display: flex;
	justify-content: space-around;
}
.blog article{
	margin: 2%;
}
.blog article img{
	width: 100%;
}

/* ######### RODAPÉ ################### */

.rodape{
	background: url("../img/rodape.png");
	background-size: cover;
	text-align: center;
}
.rodape img{
	width: 20%;
	padding-top: 2%;
}
.rodape p{
	width: 30%;
	margin: 0 auto;
	font-size: .8em;
	padding: 1.5% 0;
}
.rodape ul{
	padding: 0 0 4% 0;
}
.rodape ul li{
	list-style-type: none;
	display: inline-block;
	width: 50px;
}

.rodape ul li a img{
	width: 100%;
}


.rodape div{
	background: rgba(0,0,0,0.8);
}

.rodape div h2{
	padding: 2% 0;
	font-size: .8em;
	margin: 0;
}
.rodape div a{
	color: #F344B6;
	text-decoration: none;
}
.rodape div a:hover{
	color: rgba(255,255,255,1.00);
}

/* ########### CONTATO ########## */
.form{
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
}
.form article{
	width: 48%;
}

.form article img{
	width: 100%;
}

.form h2{
	color: rgba(64,18,48,1.00);
	font-size: 1.5em;
	padding-bottom: 5%;
}

.form form input[type=text],
.form form input[type=email],
.form form input[type=tel],
.form form input[type=submit],
.form form textarea{
	width: 100%;
	padding: 0.5em;
	color:#FFFFFF;
	background: rgba(64,18,48,0.88);
	border: thin solid #401230;
	font-size: .8em;
	margin-bottom: 0.3em;
}

.form form textarea{
	height: 150px;
	resize: none;
}

.form form input[type=submit]{
	width: 30%;
	float: right;
	margin-right: -15px;
	cursor: pointer;
	background: #7A205B;
	border: medium solid #401230;
}

.form form input[type=submit]:hover{
	background: #401230;
	border: medium solid #7A205B;
}

span{
	color: #401230;
	padding: 3%;
}

/* Dispositivos pequenos demais (telefones, 600px e inferiores) */
/*@media (max-width: 600px) {...}

/* Dispositivos médios (tablets paisagem, 768px e superior) */
/*@media (min-width: 768px) {...}

/* Dispositivos grandes (laptops / desktops, 992px e superior) */
/*@media (max-width: 992px) {...} */


@media (max-width: 992px) {

	.logoMenu {
			flex-direction: column;
		}
		.logoMenu nav ul li {
			padding: 2% 5%;
			margin: 0px;
		}

}


/* ######### 760 ################ */
@media(max-width:768px){
	.logoMenu {
		flex-direction: column;
	}
	.logoMenu nav ul li {
		padding: 2% 5%;
    	margin: 0px;
	}
	.sobre {
		flex-direction: column;
	}
	.sobre article {
		width: 100%;
		text-align: center;
	}
	.sobre article h2 {
		margin-left: 5%;
	}
	.sobre article p {
		font-size: 1.2em;
		padding: 5%;
	}
	.sobre a {
		padding: 2% 5%;
		font-size: 1.2em;
	}
	
	.sobre article img{
		width: 90%;
		padding: 2% 0;
	}
	.insta{
		display: none;
	}
	
	.blog article{
		padding: 2%;
	}
	.blog article img{
		width: 100%;
	}
	.rodape img {
		width: 50%;
	}
	
	.rodape p {
		width: 80%;
	}
	.rodape ul {
		padding: 5%;
	}
	.rodape ul li {
		width: 30px;
	}
}

/* ############################## */

@media not all and (max-width:600px){
	.abrir-menu,
	.fechar-menu{
		display: none;
	}
}


/* ######### 480 ################ */
@media (max-width: 600px){
	.banner{
		display: none;
	}
	.logoMenu {
		flex-direction: row;
	}
	.logoMenu nav{
		height: 100%;
		background:rgba(64,18,48,0.8);
		max-width: 320px;
		width: 50%;
		
		position: fixed;
		z-index: 9999;
		top: 0;
		right: -300px;
		
		transition: right 0.5s ease-out;
	}
	
	.logoMenu nav ul{
		flex-direction: column;
		align-items: flex-start;
		margin-top: 50px;
	}
	.logoMenu nav ul li a{
		color:#FFFFFF;
	}
	
	.menu-ativo
	.logoMenu nav{
		right: 0;
	}
	
	.abrir-menu{
		background: url("../img/menu.svg");
		padding: 20px;
		display: block;
		border: 0;
		margin-right: 6%;
	}
	
	.menu-fixo
	.abrir-menu{
		background: url("../img/menu-branco.svg");
	}
	
	.fechar-menu{
		background: url("../img/close.svg");
		padding: 20px;
		display: block;
		border: 0;
	}
	
	.insta{
		display: none;
	}
	.contatoSocial h2{
		margin-left: 2%;
		
	}
	.tendencias h2 {
		font-size: 1.5em;
		padding-top: 5%;
	}
	
	.tendenciasBox {
		flex-direction: column;
	}
	
	.tendenciasBox article {
		width: 100%;
		margin-bottom: 5%;
	}
	
	.tendenciasBox article h3 {
		padding: 3% 0 5% 5%;
		font-size: 2em;
	}
	.tendenciasBox article p {
		font-size: 1em;
		line-height: 1.5em;
		padding: 2% 5% 5% 5%;
	}
	.sobre {
		flex-direction: column;
	}
	.sobre article {
		width: 100%;
	}
	.sobre article h2 {
		margin-left: 5%;
	}
	.sobre article p {
		font-size: 1.2em;
		padding: 5%;
	}
	.sobre a {
		font-size: 1.2em;
	}
	
	.sobre article a img{
		width: 90%;
		padding: 2% 0;
	}
	
	.blog {
		flex-direction: column;
	}
	.blog article{
		padding: 5%;
	}
	.blog article img{
		width: 100%;
	}
	
	.rodape img {
		width: 50%;
	}
	
	.rodape p {
		width: 80%;
	}
	.rodape ul {
		padding: 5%;
	}
	.rodape ul li {
		width: 30px;
	}
	
}






